@model IEnumerable<BarKavTavan.Domain.Entities.blogs>

@{
    ViewData["Title"] = "BlogPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-section">
    <div class="container">
        <div class="row">
           

            @foreach(var item in Model)
            {
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="avatar">
                                <img src="../images/@item.image" alt="">
                            </div>
                            <div class="entry-footer">
                                <div class="post-author">@item.Username</div>
                                <a href="#" class="post-date">@item.datetime</a>
                            </div>
                        </div>
                        <div class="body">
                            <div class="post-title"><a href="#">@item.titleb</a></div>
                            <div class="post-excerpt">@item.litledes</div>
                        </div>
                        <div class="footer">
                            <a asp-controller="Home" asp-action="complatePost" asp-route-id="@item.blogid">خواندن بیشتر<span class="mai-chevron-forward text-sm"></span></a>
                        </div>
                    </div>
                </div>
            }
           
@*
            <div class="col-12 mt-5">
                <nav aria-label="Page Navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>*@


            @if (ViewBag.TotalPage > 1)
            {
                <div class="d-flex w-100 justify-content-center">
                    <pagination page-count="@ViewBag.TotalPage"
                           
                            page-number="@ViewBag.pageNumber"
                            page-range="@ViewBag.PaegRange">
                    </pagination>
                </div>

            }

        </div>

    </div>
</div>